*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    background-color: lightgrey;
    margin-bottom: 20px;
}

header{
    background-color: rgb(155, 152, 152);
}

header > h1{
    text-align: center;
    padding: 10px;
}

span#burger{
    display: block;
    background-color: rgb(59, 58, 58);
    padding: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

#burger:hover{
    color: black;
    background-color: white;
}

menu{
    display: none;
}

menu > ul {
    list-style: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(83, 81, 81, 0.541);
    text-align: center;
    color: white;
    border: 1px solid rgb(156, 154, 154);
}

menu a:hover{
    background-color: grey;
}

main{
    width: 90vw;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

article h2{
    text-align: center;
    padding-bottom: 20px;
}

article p{
    text-align: justify;
    padding: 15px;
    text-indent: 20px;
}
