.bloco{
    border: 2px solid black;
    height: 200px;
    border-radius: 10px;
    margin: 4px;
    background-image: url(imagens/wallpaper003.jpg);
}

#q1{
    background-position: left top;
}

#q2{
    background-position: left center;
}

#q3{
    background-position: right bottom;
}