#container{
    background-image: url(imagens/target001.png);
    background-size: 100% 100%;
    position: relative;
    background-color: purple;
    height: 500px;
    padding: 10px;
}

#conteudo{
    height: 200px;
    width: 400px;
    background-image: url(imagens/target001.png);
    background-size: 100% 100%;
    background-color: yellow;
    position: absolute ;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}