body{
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    position: center top;
    background-size: auto;
    background-size: cover;
    background-attachment: fixed;

}

main{
    background-color: wheat;
    width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    
}