.quadrado{
    display: inline-block;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: aqua;
}

#q1{
    background-color: brown;
}

#q2{
    background-image: linear-gradient(to bottom, yellow, red);
}

#q3{
    background-image: url(imagens/pattern003.png);
}