*{
    padding: 0px;
    margin: 0px;
}

html, body{
   width: 100vw;
   height: 100vh;
   background-color: #233EFF;
   background-repeat: no-repeat;
   background-size: contain;
}
h1{
    color: rgb(0, 0, 0);
   text-shadow: 2px 2px 0px rgba(86, 26, 143, 0.644);
   padding: 10px;
}